@charset "ISO-8859-1";


.footer{
    /* background: #f2f2f2; */
    background:#000;
    color: #fff;
    font-size: 14px;
    padding: 60px 0 20px;
    margin-top: 75px;
}

.footer p{
    color: #fff;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;

}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    flex: 1;
    text-align: left;
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
    background: #fff;
}

.footer-col-3,.footer-col-4{
    flex-basis: 12%;
    text-align: left;
}

ul{
    list-style-type: none;
}


.footer hr{
    border: none;
    background:#b5b5b5;
    height: 1px;
    margin: 0px 5px 5px 0px;
    text-align: center;
}

.copyright{
    text-align: center;
}
